include $(LEVEL)/Makefile.config

DIRS = 

# check llvm version
ifneq ("", "$(LLVM_CONFIG)")
	LLVM_VERSION = $(shell $(LLVM_CONFIG) --version| cut -b 1,3)
else
	LLVM_VERSION = 00
endif

ifneq ("", "$(CMAKE_CONFIG)")
	CMAKE_VERSION = $(shell $(CMAKE_CONFIG) --version | head -n 1 | cut -d ' ' -f 3 | cut -d '.' -f 1,2)
else
	CMAKE_VERSION = 0.0
endif

ifeq (False, $(shell python -c "print(tuple(map(int,'$(CMAKE_VERSION)'.split('.')))>(3,4))"))
	DIRS += cmake
else
	CMAKE_OK = yes
endif

ifeq ("", "$(findstring $(LLVM_VERSION), 40 50 60 70 80 90)")
	DIRS += llvm
endif

