include $(LEVEL)/Makefile.config

DIRS = 

# check llvm version
ifneq ("", "$(LLVM_CONFIG)")
	LLVM_VERSION_STR = $(shell $(LLVM_CONFIG) --version)
	LLVM_VERSION = $(shell python -c "print(''.join('$(LLVM_VERSION_STR)'.split('.')[0:2]))")
else
	LLVM_VERSION = 00
endif

ifneq ("", "$(CMAKE_CONFIG)")
	CMAKE_VERSION = $(shell $(CMAKE_CONFIG) --version | head -n 1 | cut -d ' ' -f 3 | cut -d '.' -f 1,2)
else
	CMAKE_VERSION = 0.0
endif

ifeq (False, $(shell python -c "print(tuple(map(int,'$(CMAKE_VERSION)'.split('.')))>(3,13))"))
	DIRS += cmake
else
	CMAKE_OK = yes
endif

ifeq (False, $(shell python -c "print($(LLVM_VERSION) >= 120)"))
	DIRS += llvm
endif

