# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details

test: &test
  steps:
    - checkout
    - restore_cache:
        key: v1.04-heterocl-{{ checksum "Makefile" }}-{{ checksum "Makefile.config" }}
    - restore_cache:
        key: v1.04-libhcl-
    - run: make build-python
    - run: source .circleci/install_tvm.sh
    - run: pip install --user pytest 
    - run: pip install --user future 
    - run: python -m pytest tests
    - run: pip install --user mxnet
    - run: python -m pytest samples
    - run: python -m pytest tutorials
    - run: python -m pytest hlib/tests
version: 2
jobs:
  build-hcl:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout
      - restore_cache:
          key: v1.04-heterocl-{{ checksum "Makefile" }}-{{ checksum "Makefile.config" }}
      - run: make -j4
      - save_cache:
          key: v1.04-heterocl-{{ checksum "Makefile" }}-{{ checksum "Makefile.config" }}
          paths:
            - ~/project/build
      - save_cache:
          key: v1.04-libhcl-{{ checksum "tvm/lib/libhcl.so" }}-{{ checksum "tvm/lib/libhcl_runtime.so" }}
          paths:
            - ~/project/tvm/lib
  test-python-3:
    docker:
      - image: circleci/python:3.6
    <<: *test
workflows:
  version: 2
  build-pythons:
    jobs:
      - build-hcl
      - test-python-3:
          requires: 
            - build-hcl
